// Site header

.site-header {
  //border-top: 5px solid #66fcf1;
  border-bottom: 1px solid $accent-color;
  min-height: $spacing-unit * 1.865;

  // Sticky header
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  background: $background-color;
}

.site-title {
  @include relative-font-size(3);
  letter-spacing: -1px;
  line-height: 1;
  text-align: right;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.header-social {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
}

.site-nav {
  font-weight: lighter;
  letter-spacing: -1px;
  text-transform: lowercase;
  float: left;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    &:hover {
      color: $accent-color;
    }
  
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    left: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    float: left;

    label[for="nav-trigger"] {
      display: block;
      float: left;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $accent-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

// Footer

.site-footer {
  border-top: 1px solid $accent-color;
  padding: $spacing-unit 0;
  text-align: center;

    a {
    color: $accent-color;
    text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
}

// Page content

.page-content {
  flex: 1 0 auto;
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 10px;
  }
}

.post-meta, .home-post-meta {
  font-size: $small-font-size;
}

.post-meta {
  color: $accent-color;
}

.home-post-meta {
  display: block;
  color: $accent-color;
}

.excerpt {
  color: $grey-color;
}

.post-link {
  color: $text-color;
  font-size: $base-font-size * 1.250;
}

// Posts

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}